/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Seact';
    src: url('../assets/fonts/SeactClean.otf') format('otf'),
         url('../assets/fonts/SeactRough.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* Cabeçalho */

header {
    background-color: #004d40; /* Verde escuro */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    padding: 10px;
    font-size: 2.5em; /* Aumenta o tamanho da fonte */
}

header hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.5); /* Linha horizontal com opacidade */
    margin: 10px 0;
}

/* Navegação */

nav {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: #00796b; /* Verde médio */
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
}

.ul_left, .ul_right, .ul_middle {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ul_left {
    flex: 1;
    justify-content: flex-start;
    gap: 20px;
}

.ul_right {
    justify-content: flex-end;
}

.ul_middle {
    flex: 1;
    justify-content: center;
    gap: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc80; /* Cor de destaque no hover */
}

h4 {
    margin: 0;
    font-size: 1.3em; /* Tamanho da fonte para o nome do usuário */
}

/* Respeitando o layout */


/* Rodapé */

footer {
    background-color: #004d40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Mensagens de Sucesso e Erro */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-info {
    background-color: #e2e3e5;
    color: #383d41;
    border: 1px solid #d6d8d9;
}