/* Geral */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}



/* Cabeçalho */

header {
    width: 100%;
    background-color: #222222; /* Cor de fundo do cabeçalho */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
}

/* Navegação */

nav {
    height: 100px;
    display: flex; 
    align-items: center;
    padding: 20px 0;
    background-color: #222222;
    color: #ffffff;
    font-size: large;
}

.ul_left, .ul_right {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.ul_left {
    flex: 1;
    justify-content: flex-start;
    gap: 20px;
}

.ul_right {
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0e68c; /* Cor de destaque no hover */
}

/* Tabela */

.table-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #222222;
    color: #ffffff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-link, .delete-link {
    color: #222222;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.edit-link:hover {
    text-decoration: underline;
}

.delete-link:hover {
    text-decoration: underline;
}


/* Rodapé */

footer {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
