<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastra-se</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/cadastro.css')}}">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="form" id="form">
            <form action="/novoaluno"  method="post"> 
                <label>Nome: </label> 
                <input id="nome" name="nome" type="text" required placeholder="Nome"/> 

                <label>RA:</label> 
                <input id="ra" name="ra" type="text" placeholder="Informe Somente Números" required maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '');">

                <label>Tempo:</label> 
                <input id="tempoestudo" name="tempoestudo" type="number" placeholder="Tempo de estudo mensal"/>

                <label>Renda familiar</label>
                <input id="rendafamiliar" name="rendafamiliar" type="number" placeholder="Renda familiar mensal"/>
                
                <button type="submit">Cadastrar</button>
        </div>
    </form>
    </main>
    <footer>

    </footer>
    
</body>
</html>
