<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listaralunos.css') }}">
</head>
<body>
    <header>
        <h1>Diário de Bordo - Lista de Alunos</h1>
        <hr>
        <nav>
            <ul class="ul_left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Todos os Alunos</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
            <ul class="ul_right">
                <li><a href="#">Sair</a></li>
            </ul>   
        </nav>
        <hr>
    </header>
    <main>
        <h2>{{ mensagem }}</h2>
        {% if alunos %}
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>RA</th>
                        <th>Nome</th>
                        <th>Tempo de Estudo</th>
                        <th>Renda Familiar</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr>
                        <td>{{ aluno.ra }}</td>
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.tempoestudo }}</td>
                        <td>{{ aluno.rendafamiliar }}</td>
                        <td>
                            <a href="#" class="edit-link" data-toggle="modal" data-target="#editModal" data-id="{{ aluno.id }}" data-ra="{{ aluno.ra }}" data-nome="{{ aluno.nome }}" data-tempoestudo="{{ aluno.tempoestudo }}" data-rendafamiliar="{{ aluno.rendafamiliar }}">Editar</a>
                            <form action="{{ url_for('deletar', aluno_id=aluno.id) }}" method="post" class="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="delete-link">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>Nenhum aluno cadastrado.</p>
        {% endif %}
    </main>
    
    <footer>
        <p>&copy; 2024 Diário de Bordo. Todos os direitos reservados.</p>
        <p><a href="#">Contato</a> | <a href="#">Política de Privacidade</a></p>
    </footer>

    
</body>
</html>
